<!doctype html>
<html>
  <head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Delicious+Handrawn&family=Mrs+Saint+Delafield&family=Notable&family=PT+Sans&family=Playfair+Display&family=Smooch&family=Wendy+One&display=swap"
      rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1>Car Maintenance</h1>

        <a href="/logout" class="btn btn-default btn-sm">Logout</a>

        <form action="/messages" method="POST" id="form">
          <label for="name-dropdown">Select your service:</label>
          <select id="name-dropdown" name="name" required>

            <option value="tires">Tire Rotation</option>
            <option value="oil">Oil Change</option>
          </select>

          <input type="date" placeholder="Date" name="date" required>
          <input type="text" placeholder="Location" name="location" required>

          <input type="number" placeholder="Mileage" name="mileage" required>

          <button type="submit">Add Item</button>
        </form>
       



        <div>
          <button class="filter">Filter</button>
          <label for="filter-dropdown">Select your service:</label>
          <select id="filter-dropdown" name="name" >

            <option value="tires">Tire Rotation</option>
            <option value="oil" >Oil Change</option>
           </select>
          </div>
         
            <div class="row">

              <!-- LOCAL INFORMATION -->
              
            </div>

            <div class="col-sm-6">
              <% for(var i=0; i<items.length; i++) {%>
                <div class="well <%= items[i].name %>">
                  <div class="wellcontent">
                    <h3><span class="fa fa-user"></span><%= items[i].name
                      %></h3>
                    <p>
                      <strong>Location</strong>:
                      <span class="editable" data-id="<%= items[i]._id %>"
                        data-field="location"><%= items[i].location %></span>
                      <i class="fa fa-edit edit-icon"
                        data-id="<%= items[i]._id %>"
                        data-field="location" aria-hidden="true"></i><br>

                      <strong>Date</strong>:
                      <i class="fa fa-edit edit-icon"
                        data-id="<%= items[i]._id %>"
                        data-field="date" aria-hidden="true"></i><br>
                      <span class="editable" data-id="<%= items[i]._id %>"
                        data-field="date"><%= items[i].date %></span><br>

                      <strong>Mileage</strong>:
                      <i class="fa fa-edit edit-icon"
                        data-id="<%= items[i]._id %>"
                        data-field="mileage" aria-hidden="true"></i><br>
                      <span class="editable" data-id="<%= items[i]._id %>"
                        data-field="mileage"><%= items[i].mileage %></span><br>

                      <strong>Next Service Date</strong>:
                      <i class="fa fa-edit edit-icon"
                        data-id="<%= items[i]._id %>"
                        data-field="service" aria-hidden="true"></i><br>
                      <span class="editable" data-id="<%= items[i]._id %>"
                        data-field="service"><%= items[i].nextDate %></span><br>

                      <strong>Next Mileage</strong>:
                      <i class="fa fa-edit edit-icon"
                        data-id="<%= items[i]._id %>"
                        data-field="mileage" aria-hidden="true"></i><br>
                      <span class="editable" data-id="<%= items[i]._id %>"
                        data-field="nextmileage"><%= items[i].nextMileage
                        %></span><br>

                      <span class="delete-icon" data-id="<%= items[i]._id %>">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </span>

                    </p>
                  </div>
                  <!-- <div class="wellimg">
             
              <input type="file" name="file" id="file" class="inputfile" />
<label for="file">Choose a file</label>
                <button type="submit">Upload Photo</button>

                
             

              <!-- Display uploaded photo if it exists -->
                  <% if (items[i].photo) { %>
                  <img src="<%= items[i].photo %>" alt="Uploaded photo"
                    style="width:100px; height:auto;">
                  <% } %>
                </div>
              </div>
              <% } %>
            </div> -->
<footer>

</footer>
            <script src="main.js"></script>

          </div>
        </div>
      </body>
    </html>
